##Directory inside the HDFS
export cdr_dir=/user/cdivakaran/data/FDR
export mapping_dir=/user/bhenriksen/mercury/datasets/20180409/MAPPING
export cache_dir=/user/cdivakaran/data/FDR/cache

#L#ocation inside the Edge node

export lib_dir=/users/cdivakaran/mtk/lib
export jar=mercury-etl-all-201806-SNAPSHOT.jar
export log_dir=/users/cdivakaran/logs
export mailto=cdivakaran@humedica.com

